<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pizzaloop">
    <uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_loop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login.LoginUser"
            android:screenOrientation="portrait"/>
        <activity android:name=".Edit_Order.ReviewOrder"/>
        <activity android:name=".Edit_Order.EditOrder"/>
        <activity android:name=".Edit_Order.OrderCRUD"
            android:screenOrientation="portrait"/>
        <activity android:name=".Edit_Order.ReviewPayment"/>
        <activity android:name=".Order.Payment"
            android:screenOrientation="portrait"/>
        <activity android:name=".WelcomePage"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login.SignUp"
            android:screenOrientation="portrait"/>
        <activity android:name=".Order.DetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Order.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Edit_Order.ReviewDetails"/>
        <activity android:name=".Edit_Order.ReviewMain"/>
        <activity android:name=".Login.SplashScreen"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>